* {
    box-sizing: border-box;
}

body {
    font-family: 'Catamaran', sans-serif;
    background: linear-gradient(rgba(65, 113, 218, .15), rgba(65, 113, 218, .15)), url('../images/background2.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    text-align: center;
    font-size: 40px;
    color: rgb(77, 39, 245)
}

h2 {
    font-size: 25px;
}

p {
    font-size: 18px;
    color: rgb(75, 177, 236);

}

img {
    width: 150px;
    height: 150px;
    float: left;
}

.image-summary {
    /* float: left; */
    display: grid;
    grid-template-columns: 15% 85%;
}

.title {
    /* float: left; */
    display: block;
    text-align: center;
}

div.article {
    float: left;
    width: 100%;
    padding-right: 50px;
}

a {
    text-decoration: none;
    display: inline-block;
    color : rgb(16, 221, 204)
}

#scrape-website {
    text-align: center;
}