* {
    box-sizing: border-box;
}
h1 {
    text-align: center;
}

p {
    font-size: 15px;
}

img {
    width: 150px;
    height: 150px;
}
.box{
    width: 400px;
    height : 150px;
}

.box-text{
    position:fixed;
    top:50px;

}
div.comment-container {
    width : 40%;
    float: right;
}

div.article-container {
    width : 60%;
    float: left;
}

div.article {
    float: left;
    width: 100%;
    padding-right: 50px;
}


.summary {
    float: left;
}

a {
    text-decoration: none;
    display: inline-block;
}

div.image-summary {
    display: inline-block;
}

div.comment-box {
    display: inline-block;
}


#scrape-website {
    text-align: center;
    /* float:left; */
}